<style type="text/css">
    body{
        overflow-y:auto !important;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="page-header">
                <h3>User List</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-8 col-md-offest-8 col-sm-4 col-md-4 ">
            <input type="text" class="form-control input-sm" ng-model="searchUsers" placeholder="Search User" />
        </div>
    </div>
    <div class="row">
        <div class="col-xs-offset-4 col-xs-4">
            <div class="spinner" ng-show="loading">Loading <img src="/images/loading.gif"></div>
        </div>
    </div>
    <div class="row" ng-show="!loading">
        <div class="col-xs-12">
            <table class="table table-hover table-striped table-bordered ">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in model | filter:searchUsers">
                        <td>{{user.name}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.phone}}</td>
                </tbody>
            </table>
        </div>
    </div>
</div>
