<style type="text/css">
.cell {
    background-color: #efefef;
    width: 35px;
    height: 35px;
    padding: 10px;
    text-align: center;
}
.top-left {
    border-right: 1px solid #212121;
    border-bottom: 1px solid #212121;
}

.top-middle {
    border-right: 1px solid #212121;
    border-bottom: 1px solid #212121;
    border-left: 1px solid #212121;
}

.top-right {
    border-bottom: 1px solid #212121;
    border-left: 1px solid #212121;
}

.middle-left {
    border-top: 1px solid #212121;
    border-right: 1px solid #212121;
    border-bottom: 1px solid #212121;
}

.middle-middle {
    border: 1px solid #212121;
}

.middle-right {
    border-top: 1px solid #212121;
    border-bottom: 1px solid #212121;
    border-left: 1px solid #212121;
}

.bottom-left {
    border-top: 1px solid #212121;
    border-right: 1px solid #212121;
}

.bottom-middle {
    border-top: 1px solid #212121;
    border-right: 1px solid #212121;
    border-left: 1px solid #212121;
}

.bottom-right {
    border-top: 1px solid #212121;
    border-left: 1px solid #212121;
}

.cell:hover {
    background-color: white;
    cursor: pointer;
}

.allowed-cell {
    border: 1px solid #212121;
}
</style>
<div class="container">
{{status}}
{{turn}}
    <div class="row" style="margin-bottom:30px; margin-top:30px;">
        <div class="col-xs-4" id="00" ng-class="leftTop ? 'allowed-cell' : ''">
            <div class="row">
                <div class="col-xs-4 cell top-left" ng-click="play(0,0,0,0)">
                    <p>{{Values00[0][0]}}</p>
                </div>
                <div class="col-xs-4 cell top-middle" ng-click="play(0,0,0,1)">
                    <p>{{Values00[0][1]}}</p>
                </div>
                <div class="col-xs-4 cell top-right" ng-click="play(0,0,0,2)">
                    <p>{{Values00[0][2]}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 cell middle-left" ng-click="play(0,0,1,0)">
                    <p>{{Values00[1][0]}}</p>
                </div>
                <div class="col-xs-4 cell middle-middle" ng-click="play(0,0,1,1)">
                    <p>{{Values00[1][1]}}</p>
                </div>
                <div class="col-xs-4 cell middle-right" ng-click="play(0,0,1,2)">
                    <p>{{Values00[1][2]}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 cell bottom-left" ng-click="play(0,0,2,0)">
                    <p>{{Values00[2][0]}}</p>
                </div>
                <div class="col-xs-4 cell bottom-middle" ng-click="play(0,0,2,1)">
                    <p>{{Values00[2][1]}}</p>
                </div>
                <div class="col-xs-4 cell bottom-right" ng-click="play(0,0,2,2)">
                    <p>{{Values00[2][2]}}</p>
                </div>
            </div>
        </div>
        <div class="col-xs-4" id="01" ng-class="middleTop ? 'allowed-cell' : ''">
            <div class="row">
                <div class="col-xs-4 cell top-left" ng-click="play(0,1,0,0)">
                    <p>{{Values01[0][0]}}</p>
                </div>
                <div class="col-xs-4 cell top-middle" ng-click="play(0,1,0,1)">
                    <p>{{Values01[0][1]}}</p>
                </div>
                <div class="col-xs-4 cell top-right" ng-click="play(0,1,0,2)">
                    <p>{{Values01[0][2]}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 cell middle-left" ng-click="play(0,1,1,0)">
                    <p>{{Values01[1][0]}}</p>
                </div>
                <div class="col-xs-4 cell middle-middle" ng-click="play(0,1,1,1)">
                    <p>{{Values01[1][1]}}</p>
                </div>
                <div class="col-xs-4 cell middle-right" ng-click="play(0,1,1,2)">
                    <p>{{Values01[1][2]}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 cell bottom-left" ng-click="play(0,1,2,0)">
                    <p>{{Values01[2][0]}}</p>
                </div>
                <div class="col-xs-4 cell bottom-middle" ng-click="play(0,1,2,1)">
                    <p>{{Values01[2][1]}}</p>
                </div>
                <div class="col-xs-4 cell bottom-right" ng-click="play(0,1,2,2)">
                    <p>{{Values01[2][2]}}</p>
                </div>
            </div>
        </div>
        <div class="col-xs-4" id="02" ng-class="rightTop ? 'allowed-cell' : ''">
            <div class="row">
                <div class="col-xs-4 cell top-left" ng-click="play(0,2,0,0)">
                    <p>{{Values02[0][0]}}</p>
                </div>
                <div class="col-xs-4 cell top-middle" ng-click="play(0,2,0,1)">
                    <p>{{Values02[0][1]}}</p>
                </div>
                <div class="col-xs-4 cell top-right" ng-click="play(0,2,0,2)">
                    <p>{{Values02[0][2]}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 cell middle-left" ng-click="play(0,2,1,0)">
                    <p>{{Values02[1][0]}}</p>
                </div>
                <div class="col-xs-4 cell middle-middle" ng-click="play(0,2,1,1)">
                    <p>{{Values02[1][1]}}</p>
                </div>
                <div class="col-xs-4 cell middle-right" ng-click="play(0,2,1,2)">
                    <p>{{Values02[1][2]}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 cell bottom-left" ng-click="play(0,2,2,0)">
                    <p>{{Values02[2][0]}}</p>
                </div>
                <div class="col-xs-4 cell bottom-middle" ng-click="play(0,2,2,1)">
                    <p>{{Values02[2][1]}}</p>
                </div>
                <div class="col-xs-4 cell bottom-right" ng-click="play(0,2,2,2)">
                    <p>{{Values02[2][2]}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom:30px; margin-top:30px;">
        <div class="col-xs-4" id="10" ng-class="leftMiddle ? 'allowed-cell' : ''">
            <div class="row">
                <div class="col-xs-4 cell top-left" ng-click="play(1,0,0,0)">
                    <p>{{Values10[0][0]}}</p>
                </div>
                <div class="col-xs-4 cell top-middle" ng-click="play(1,0,0,1)">
                    <p>{{Values10[0][1]}}</p>
                </div>
                <div class="col-xs-4 cell top-right" ng-click="play(1,0,0,2)">
                    <p>{{Values10[0][2]}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 cell middle-left" ng-click="play(1,0,1,0)">
                    <p>{{Values10[1][0]}}</p>
                </div>
                <div class="col-xs-4 cell middle-middle" ng-click="play(1,0,1,1)">
                    <p>{{Values10[1][1]}}</p>
                </div>
                <div class="col-xs-4 cell middle-right" ng-click="play(1,0,1,2)">
                    <p>{{Values10[1][2]}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 cell bottom-left" ng-click="play(1,0,2,0)">
                    <p>{{Values10[2][0]}}</p>
                </div>
                <div class="col-xs-4 cell bottom-middle" ng-click="play(1,0,2,1)">
                    <p>{{Values10[2][1]}}</p>
                </div>
                <div class="col-xs-4 cell bottom-right" ng-click="play(1,0,2,2)">
                    <p>{{Values10[2][2]}}</p>
                </div>
            </div>
        </div>
        <div class="col-xs-4" id="11" ng-class="middleMiddle ? 'allowed-cell' : ''">
            <div class="row">
                <div class="col-xs-4 cell top-left" ng-click="play(1,1,0,0)">
                    <p>{{Values11[0][0]}}</p>
                </div>
                <div class="col-xs-4 cell top-middle" ng-click="play(1,1,0,1)">
                    <p>{{Values11[0][1]}}</p>
                </div>
                <div class="col-xs-4 cell top-right" ng-click="play(1,1,0,2)">
                    <p>{{Values11[0][2]}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 cell middle-left" ng-click="play(1,1,1,0)">
                    <p>{{Values11[1][0]}}</p>
                </div>
                <div class="col-xs-4 cell middle-middle" ng-click="play(1,1,1,1)">
                    <p>{{Values11[1][1]}}</p>
                </div>
                <div class="col-xs-4 cell middle-right" ng-click="play(1,1,1,2)">
                    <p>{{Values11[1][2]}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 cell bottom-left" ng-click="play(1,1,2,0)">
                    <p>{{Values11[2][0]}}</p>
                </div>
                <div class="col-xs-4 cell bottom-middle" ng-click="play(1,1,2,1)">
                    <p>{{Values11[2][1]}}</p>
                </div>
                <div class="col-xs-4 cell bottom-right" ng-click="play(1,1,2,2)">
                    <p>{{Values11[2][2]}}</p>
                </div>
            </div>
        </div>
        <div class="col-xs-4" id="12" ng-class="rightMiddle ? 'allowed-cell' : ''">
            <div class="row">
                <div class="col-xs-4 cell top-left" ng-click="play(1,2,0,0)">
                    <p>{{Values12[0][0]}}</p>
                </div>
                <div class="col-xs-4 cell top-middle" ng-click="play(1,2,0,1)">
                    <p>{{Values12[0][1]}}</p>
                </div>
                <div class="col-xs-4 cell top-right" ng-click="play(1,2,0,2)">
                    <p>{{Values12[0][2]}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 cell middle-left" ng-click="play(1,2,1,0)">
                    <p>{{Values12[1][0]}}</p>
                </div>
                <div class="col-xs-4 cell middle-middle" ng-click="play(1,2,1,1)">
                    <p>{{Values12[1][1]}}</p>
                </div>
                <div class="col-xs-4 cell middle-right" ng-click="play(1,2,1,2)">
                    <p>{{Values12[1][2]}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 cell bottom-left" ng-click="play(1,2,2,0)">
                    <p>{{Values12[2][0]}}</p>
                </div>
                <div class="col-xs-4 cell bottom-middle" ng-click="play(1,2,2,1)">
                    <p>{{Values12[2][1]}}</p>
                </div>
                <div class="col-xs-4 cell bottom-right" ng-click="play(1,2,2,2)">
                    <p>{{Values12[2][2]}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom:30px; margin-top:30px">
        <div class="col-xs-4" id="20" ng-class="leftBottom ? 'allowed-cell' : ''">
            <div class="row">
                <div class="col-xs-4 cell top-left" ng-click="play(2,0,0,0)">
                    <p>{{Values20[0][0]}}</p>
                </div>
                <div class="col-xs-4 cell top-middle" ng-click="play(2,0,0,1)">
                    <p>{{Values20[0][1]}}</p>
                </div>
                <div class="col-xs-4 cell top-right" ng-click="play(2,0,0,2)">
                    <p>{{Values20[0][2]}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 cell middle-left" ng-click="play(2,0,1,0)">
                    <p>{{Values20[1][0]}}</p>
                </div>
                <div class="col-xs-4 cell middle-middle" ng-click="play(2,0,1,1)">
                    <p>{{Values20[1][1]}}</p>
                </div>
                <div class="col-xs-4 cell middle-right" ng-click="play(2,0,1,2)">
                    <p>{{Values20[1][2]}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 cell bottom-left" ng-click="play(2,0,2,0)">
                    <p>{{Values20[2][0]}}</p>
                </div>
                <div class="col-xs-4 cell bottom-middle" ng-click="play(2,0,2,1)">
                    <p>{{Values20[2][1]}}</p>
                </div>
                <div class="col-xs-4 cell bottom-right" ng-click="play(2,0,2,2)">
                    <p>{{Values20[2][2]}}</p>
                </div>
            </div>
        </div>
        <div class="col-xs-4" id="21" ng-class="middleBottom ? 'allowed-cell' : ''">
            <div class="row">
                <div class="col-xs-4 cell top-left" ng-click="play(2,1,0,0)">
                    <p>{{Values21[0][0]}}</p>
                </div>
                <div class="col-xs-4 cell top-middle" ng-click="play(2,1,0,1)">
                    <p>{{Values21[0][1]}}</p>
                </div>
                <div class="col-xs-4 cell top-right" ng-click="play(2,1,0,2)">
                    <p>{{Values21[0][2]}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 cell middle-left" ng-click="play(2,1,1,0)">
                    <p>{{Values21[1][0]}}</p>
                </div>
                <div class="col-xs-4 cell middle-middle" ng-click="play(2,1,1,1)">
                    <p>{{Values21[1][1]}}</p>
                </div>
                <div class="col-xs-4 cell middle-right" ng-click="play(2,1,1,2)">
                    <p>{{Values21[1][2]}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 cell bottom-left" ng-click="play(2,1,2,0)">
                    <p>{{Values21[2][0]}}</p>
                </div>
                <div class="col-xs-4 cell bottom-middle" ng-click="play(2,1,2,1)">
                    <p>{{Values21[2][1]}}</p>
                </div>
                <div class="col-xs-4 cell bottom-right" ng-click="play(2,1,2,2)">
                    <p>{{Values21[2][2]}}</p>
                </div>
            </div>
        </div>
        <div class="col-xs-4" id="22" ng-class="rightBottom ? 'allowed-cell' : ''">
            <div class="row">
                <div class="col-xs-4 cell top-left" ng-click="play(2,2,0,0)">
                    <p>{{Values22[0][0]}}</p>
                </div>
                <div class="col-xs-4 cell top-middle" ng-click="play(2,2,0,1)">
                    <p>{{Values22[0][1]}}</p>
                </div>
                <div class="col-xs-4 cell top-right" ng-click="play(2,2,0,2)">
                    <p>{{Values22[0][2]}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 cell middle-left" ng-click="play(2,2,1,0)">
                    <p>{{Values22[1][0]}}</p>
                </div>
                <div class="col-xs-4 cell middle-middle" ng-click="play(2,2,1,1)">
                    <p>{{Values22[1][1]}}</p>
                </div>
                <div class="col-xs-4 cell middle-right" ng-click="play(2,2,1,2)">
                    <p>{{Values22[1][2]}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 cell bottom-left" ng-click="play(2,2,2,0)">
                    <p>{{Values22[2][0]}}</p>
                </div>
                <div class="col-xs-4 cell bottom-middle" ng-click="play(2,2,2,1)">
                    <p>{{Values22[2][1]}}</p>
                </div>
                <div class="col-xs-4 cell bottom-right" ng-click="play(2,2,2,2)">
                    <p>{{Values22[2][2]}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
