* {
    padding: 0;
    margin: 0
}

body {
    overflow: hidden;
}

@media only screen and (max-width: 500px) {
    #background {
        opacity: 0.6;
    }
    body {
        overflow-y: auto;
    }
}

h1 {
    color: #000;
}

p {
    color: #000;
}

.top-buffer {
    margin-top: 20px;
}

.symbol {
    font-size: 42px;
    font-weight: 700;
}

.cross {
    color: #212121
}

.zero {
    color: #cccccc;
}

.cross-play {
    color: #212121;
    font-size: 28px;
    font-weight: 700;
}

.zero-play {
    color: #cccccc;
    font-size: 28px;
    font-weight: 700;
}

.username {
    font-weight: 500;
    padding-left: 20px;
    padding-top: 20px;
    margin: 0px !important;
}

.points {
    color: #cccccc;
    padding-left: 20px;
    font-size: 11px;
}
